<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <link rel="stylesheet" href="../css/common/base.css">
    <link rel="stylesheet" href="../css/common/toast.css">
    <link href="../css/common/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/pages/product.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_891627_jn60q7z8ui.css">
</head>
<body>
@@include('./common/head.html')
<div id="product" class="product container">
    <div class="product-container">

    </div>
    <div class="product-detail"></div>
</div>
@@include('./common/footer.html')
<script id="product-info" type="text/html">
    <div class="product-box"></div>
    <div class="product-info">
        <div class="product-name">{{ data.name !== null ? data.name : '定制产品'}}</div>
        <div class="price">
            <span>{{ data.productGroupName }}</span>
            <span class="price-count">{{data.basePrice !== null ? '￥' + data.price : '' }}</span>
        </div>
        <div class="props"></div>
        <div class="upload-file">
            上传图片
        </div>

        <div class="buy-product">
            <div class="quantity">
                <input type="number" value="1" class="product-quantity" onchange="checkNumber(this)">
                <span class="change-quantity add">+</span>
                <span class="change-quantity reduce">-</span>
            </div>

            <div class="add-to-car" onclick="toAddShoppingCart()">
                加入购物车
            </div>

        </div>
    </div>
</script>
<script id="editor-info" type="text/html">
    {{ each data props}}
        {{ if props.type === 0 || props.type === 1 }}
            <div class="props-item">
                {{ if props.type === 0 }}
                <div class="props-name">
                    {{ props.name }}
                    {{ if props.values.length > 1 }}
                    {{ each props.values shape }}
                    <span class="sec-props" onclick="selectShape(event)" data-type={{ props.type }} data-prop-id={{ shape.id }}>{{ shape.name }}</span>
                    {{ /each }}
                    {{ /if }}
                </div>
                {{ /if }}
                {{ if props.type === 1 }}
                <div class="props-value">
                    {{ each props.values value }}
                    {{ if !value.selected }}
                    <span class="span-box" style="border-color: #ddd" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ else }}
                    <span class="span-box" style="border-color: #00afab; background: #00afab; color: #fff;" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ /if }}
                    {{ /each }}
                </div>
                {{ /if }}
            </div>
        {{ else if props.type === 2 || props.type === 3 }}
            <div class="props-item">
                <div class="props-name">
                    {{ props.name }}
                </div>
                <div class="props-value">
                    {{ each props.values value }}
                    {{ if !value.selected }}
                    <span class="span-box" style="border-color: #ddd" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ else }}
                    <span class="span-box" style="border-color: #00afab; background: #00afab; color: #fff;" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ /if }}
                    {{ /each }}
                </div>
            </div>
        {{ else if props.type === 4 }}
            <div class="props-item">
                <div class="props-value props-select">
                    <span class="input-title">{{ props.name }}:</span>
                    <input class="paper-input" type="text" onfocus="showSelectBox(event,true)"
                           onblur="showSelectBox(event,false)" readonly data-type="paper" value={{props.selectValue}}>
                    <i class="iconfont icon-drop-down"></i>
                    <div class="select-box paper-box">
                        <ul>
                            {{ each props.values li }}
                            <li onmousedown="selectThisProp(event)" data-type={{ props.type }} data-prop-id={{ li.id }}>
                                {{ li.name }}
                                {{ if li.selected }}
                                <i class="iconfont icon-ok"></i>
                                {{ /if }}
                            </li>
                            {{ /each }}
                        </ul>
                    </div>
                </div>
            </div>
        {{ else if props.type === 5}}
        <div class="props-item">
            <div class="props-value props-select">
                <span class="input-title">{{ props.name }}:</span>
                <input class="paper-input" type="text" onfocus="showSelectBox(event,true)"
                       onblur="showSelectBox(event,false)" readonly data-type="poli"  value={{props.selectValue}}>
                <i class="iconfont icon-drop-down"></i>

                <div class="select-box poli-box">
                    <ul>
                        {{ each props.values li }}
                        <li onmousedown="selectThisProp(event)" data-type={{ props.type }} data-prop-id={{ li.id }}>
                            {{ li.name }}
                            {{ if li.selected }}
                            <i class="iconfont icon-ok"></i>
                            {{ /if }}
                        </li>
                        {{ /each }}
                    </ul>
                </div>
            </div>
        </div>
        {{ /if }}
    {{ /each }}
    <!--<div class="props-item">
        <div class="props-value props-select">
            <span class="input-title">画纸:</span>
            <input class="paper-input" type="text" onfocus="showSelectBox('paper', true)"
                   onblur="showSelectBox('paper', false)" readonly>
            <i class="iconfont icon-drop-down"></i>
            <div class="select-box paper-box">
                <ul>
                    <li onclick="selectThisValue('paper', 0)">呵呵呵呵 <i class="iconfont icon-ok"></i></li>
                    <li>哈哈哈</li>
                    <li>会被黑河</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="props-item ">
        <div class="props-value props-select">
            <span class="input-title">玻璃:</span>
            <input type="text" onfocus="showSelectBox('poli', true)" onblur="showSelectBox('poli', false)" readonly>
            <i class="iconfont icon-drop-down"></i>
            <div class="select-box poli-box">
                <ul>
                    <li>呵呵呵呵</li>
                    <li>哈哈哈</li>
                    <li>会被黑河</li>
                    <li>会被黑河</li>
                    <li>会被黑河</li>
                </ul>
            </div>
        </div>
    </div>-->
</script>
<script id="product-detail" type="text/html">
    <div class="product-detail-info">
        {{ each data.detailImages images i}}
        <img src={{images.imageUrl}} alt="">
        {{/each}}
    </div>
</script>
<script src="../js/app/product.js"></script>
</body>
</html>

<!--


-->