<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <link rel="stylesheet" href="../css/common/base.css">
    <link rel="stylesheet" href="../css/common/toast.css">
    <link href="../css/common/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/pages/product.css">
</head>
<body>
@@include('./common/head.html')
<div id="product" class="product container">
    <div class="product-container">

    </div>
    <div class="product-detail"></div>
    <form action="" id="upload-form" style="display: none;">
        <input type="file" name="upload-file" id="upload-file" onchange="uploadImage()">
    </form>
</div>
@@include('./common/footer.html')
<script id="product-info" type="text/html">
    {{ if data.productType === 2 && imgs.length > 0}}
    <div class="show-type-container">
        <span class="active-type" onclick="changeShowType(event, 0)">产品显示</span>
        <span  onclick="changeShowType(event, 1)">实景显示</span>
    </div>
    {{ /if }}
    <div class="product-box">
        <div class="material-box-content">
            <div class="material-box" data-op-scale-x="1" data-op-scale-y="1" data-op-top="0">
                <div class="page-box">
                    <div class="trim-box">
                        <div class="image-box">
                            {{ if data.hasOwnProperty('productImages') && data.productImages.length > 0 }}
                            <img src={{ data.productImages[0].imageUrl }} alt="" id="product-img">
                            {{ else }}
                            <img src="" alt="" class="product-picture">
                            {{ /if }}
                        </div>
                    </div>
                </div>
                {{ if data.productType === 2  }}
                <div class="operation-box">
                    <i class="iconfont icon-bigger" onmousedown="scaleProductImage(1)"></i>
                    <span id="scale-number" data-op-scale="1">100%</span>
                    <i class="iconfont icon-smaller" onmousedown="scaleProductImage(-1)"></i>
                    <i class="iconfont icon-rotate" id="rotate-number" onclick="rotateProductImage(event)" data-op-rotate="0"></i>
                </div>
                {{ /if }}
            </div>
        </div>
        {{ if data.productType === 2 && imgs.length > 0}}
        <div class="scene-container">
            {{ each imgs img i }}
            <img src={{ img.src }} alt="" onclick="changeScene({{ i }})" >
            {{ /each }}
        </div>
        {{ /if }}
    </div>
    <div class="product-info">
        <div class="product-name">{{ data.name !== null ? data.name : '定制产品'}}</div>
        <div class="price">
            <span>{{ data.productGroupName }}</span>
            <span class="price-count">{{data.price !== null ? '￥' + data.price : '' }}</span>
        </div>
        <div class="props"></div>

        {{ if data.productType === 2 }}
        <div class="upload-file" onclick="toUploadImage()">
            上传图片
        </div>
        {{ /if }}

        <div class="buy-product">
            <div class="quantity">
                <input type="number" value="1" class="product-quantity" onchange="checkNumber(this)">
                <span class="change-quantity add" onclick="changeQuantity(1)">+</span>
                <span class="change-quantity reduce" onclick="changeQuantity(-1)">-</span>
            </div>

            <div class="add-to-car" onclick="toAddShoppingCart()">
                加入购物车
            </div>

        </div>
    </div>
</script>
<script id="editor-info" type="text/html">
    {{ each data props}}
        {{ if props.optionType === 2 }}
            <div class="props-item">
                {{ if props.type === 0 }}
                <div class="props-name">
                    {{ props.name }}
                    {{ if props.values.length > 1 }}
                    {{ each props.values shape i }}
                    {{ if !shape.selected }}
                    <span class="sec-props" onclick="selectShape(event, 1)" data-op-prop-id="2" data-op-index={{ i }} data-parent-id={{ props.id }} data-prop-id={{ shape.id }}>{{ shape.name }}</span>
                    {{ else  }}
                    <span class="sec-props-select" data-op-prop-id="2" data-op-index={{ i }} data-parent-id={{ props.id }} data-prop-id={{ shape.id }}>{{ shape.name }}</span>
                    {{ /if }}
                    {{ /each }}
                    {{ /if }}
                </div>
                {{ /if }}
                {{ if props.type === 1 }}
                <div class="props-value">
                    {{ each props.values value }}
                    {{ if !value.selected }}
                    <span class="span-box" style="border-color: #ddd" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ else }}
                    <span class="span-box" style="border-color: #00afab; background: #00afab; color: #fff;" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ /if }}
                    {{ /each }}
                </div>
                {{ /if }}
            </div>
        {{ else if props.optionType === 7 }}
            <div class="props-item">
                <div class="props-name">
                    {{ props.name }}
                </div>
                <div class="props-value">
                    {{ each props.values value }}
                    <i><img src={{ value.smallImage }} title={{ value.name }} class={{ value.selected ? 'selected' : '' }} alt="" data-selected={{ value.selected }} onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}></i>
                    {{ /each }}
                </div>
            </div>
        {{ else if props.optionType === 3 }}
            <div class="props-item">
                <div class="props-value props-select">
                    <span class="input-title">{{ props.name }}:</span>
                    <input class="paper-input" type="text" onfocus="showSelectBox(event,true)"
                           onblur="showSelectBox(event,false)" readonly data-type="" data-op-len={{ props.values.length }} data-op-id={{ props.id }} value={{props.selectValue}}>
                    <i class="iconfont icon-drop-down"></i>
                    <div class="select-box" id={{ 'drop-down-' + props.id }}>
                        <ul>
                            {{ each props.values li }}
                            <li onmousedown="selectThisProp(event)" data-type={{ props.type }} data-prop-id={{ li.id }}>
                                {{ li.name }}
                                {{ if li.selected }}
                                <i class="iconfont icon-ok"></i>
                                {{ /if }}
                            </li>
                            {{ /each }}
                        </ul>
                    </div>
                </div>
            </div>
        {{ /if }}
    {{ /each }}
</script>
<script id="product-detail" type="text/html">
    <div class="product-detail-info">
        {{ each data.detailImages images i}}
        <img src={{images.imageUrl}} alt="">
        {{/each}}
    </div>
</script>
<script src="../js/app/product.js"></script>
</body>
</html>