<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的购物车</title>
    <link rel="stylesheet" href="../css/common/base.css">
    <link href="../css/common/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/pages/shopping-cart.css">

</head>
<body>
@@include('./common/head.html')
    <div id="shopping-cart" class="shopping-cart container">
        <div class="shopping-status">
            <div class="shopping-status-container">
                <div class="shopping-status-item active">
                    <i class="iconfont icon-gouwuche"></i>
                    <span>购物车</span>
                </div>
                <div class="shopping-status-item ">
                    <i class="iconfont icon-order"></i>
                    <span>填写订单</span>
                </div>
                <div class="shopping-status-item">
                    <i class="iconfont icon-pay"></i>
                    <span>等待付款</span>
                </div>
                <div class="shopping-status-item">
                    <i class="iconfont icon-paid"></i>
                    <span>已付款</span>
                </div>
            </div>

        </div>
        
        <div class="shopping-list-page"></div>
        <div class="toPay">
            <div class="product-count">
                共 <span class="order-quantity">0</span> 件商品
            </div>
            <div class="to-submit-order">
                <div class="count-money"><i>￥</i><span class="order-count">0</span></div>
                <div class="to-order">确定订单</div>
            </div>
        </div>
    </div>
@@include('./common/footer.html')

<script id="shopping-list-page" type="text/html">
    {{ if data.length > 0  }}
        {{each data product i}}
            <div class="product-item">

                {{ if product.selected }}

                <input type="checkbox" name={{ product.id }} id={{  'select'+product.id }} data-op-index={{ i }} checked onchange="addProductToOrder(this)">

                {{ else }}

                <input type="checkbox" name={{ product.id }} id={{  'select'+product.id }} data-op-index={{ i }} onchange="addProductToOrder(this)">

                {{ /if }}

                <div class="product-img">
                        <img src={{ product.introductImage }} alt=""/>
                </div>

                <div class="product-info">
                    <div class="product-name"> {{ product.productName }} </div>
                    <div class="product-description">{{ product.description }}</div>
                </div>

                <div class="standards">
                    {{ each product.standards s i}}
                    <p>{{ s.optionName }}: {{ s.optionValueName }}</p>
                    {{ /each }}
                </div>

                <div class="product-price">￥{{ product.money }}</div>

                <div class="product-quantity">
                    <div class="quantity-tool">
                        <input type="text" value={{ product.number }}>
                        <div class="operate-num">
                            <div class="add-num" onclick="opProductQuantity(this)" data-op="add" data-op-index={{ i }}></div>
                            <div class="reduce-num" onclick="opProductQuantity(this)" data-op="reduce" data-op-index={{ i }}></div>
                        </div>
                    </div>
                </div>

                <div class="count">
                    {{ product.money * product.number | toFixed2 }}
                </div>

                <div class="del" onclick="deleteThisProduct(this)" data-op-index={{ i }}>删除</div>

            </div>
        {{ /each }}
    {{ else if data.length === 0}}
        <p>您的购物车空白如雪</p>
    {{ /if }}
</script>

    <script src="../js/app/shopping-cart.js"></script>
</body>
</html>