<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填写订单</title>
    <link rel="stylesheet" href="../css/common/base.css">
    <link href="../css/common/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/pages/edit-order.css">

</head>
<body>
<div class="nav-bar">
    <div class="left-part">
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <div class="func-item hover-blue">
            <a href="./product-list.html">商店</a>
        </div>
    </div>
    <div class="right-part">
        <div class="func-item search">
            <i class="iconfont icon-cx"></i>
            <!--<i class="fa fa-search"></i>-->
            <input type="text" class="search-input" placeholder="搜索百成墙纸网" style="display: none;">
            <span class="to-search" >搜索</span>
            <i class="iconfont icon-close" style="display: none;"></i>
        </div>
        <div class="func-item hover-blue to-login">登录</div>
        <div class="func-item account-container">
            <a href="./personal.html" class="func-item account">
                <img src="" alt="" class="account-icon">
                <span>未登录</span>

            </a>
            <ul class="logout">

                <li>
                    <a href="./my-order.html">我的订单</a>
                </li>
                <li onclick="logout()">注销登陆</li>

            </ul>
        </div>

        <div class="func-item hover-blue to-sign-up">注册</div>
        <div class="func-item show-shopping-car">
            <span class="shopping-quantity">0</span>
            <i class="iconfont icon-gouwuche shopping-car"></i>
            <div class="shopping-car-container"></div>
        </div>
    </div>
</div>

<div class="login">
    <div class="close-login-box">
        <i class="iconfont icon-close"></i>
    </div>
    <div class="title">
       Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="login-account login-tab-active" onclick="changeLoginType('account')" data-op-type="account">密码登陆</span>
            <span class="login-phone" onclick="changeLoginType('phone')" data-op-type="phone">手机登陆</span>
            <span class="login-email" onclick="changeLoginType('email')" data-op-type="email">邮箱登陆</span>
        </div>
        <div class="login-container login-phone-container">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="phone" value="15622316910" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCode('phone',this)" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="phone-code" value="">
                <!-- <i class="iconfont icon-suo"></i>
                 <input type="password" placeholder="请输入您的密码" id="password" value="">-->
            </div>
        </div>
        <div class="login-container login-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="email" value="864927512@qq.com" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCode('email',this)" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="email-code" value="">
                <!--<input type="password" placeholder="请输入您的密码" id="password" value="">-->
            </div>
        </div>
        <div class="login-container login-account-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-wode"></i>
                <input type="text" placeholder="请输入您的手机号/邮箱/账号" id="account" value="aaa">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="password" value="1qaz2wsx">
            </div>
        </div>

        <div class="submit">登录</div>
        <a href="#">找回密码</a>
        <p>我没有账户</p>
        <div class="sign-up">注册</div>
    </div>

    <div class="sign-up-content">

    </div>

</div>

<div class="login sign-up-box">
    <div class="close-login-box close-sign-up-box">
        <i class="iconfont icon-close "></i>
    </div>
    <div class="title">
        Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="sign-up-phone sign-up-tab-active" onclick="changeSignUpTab('phone')" data-op-type="phone">手机注册</span>
            <span class="sign-up-email" onclick="changeSignUpTab('email')" data-op-type="email">邮箱注册</span>
        </div>
        <div class="login-container sign-up-phone-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="sign-up-phone" value="15622316910" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCode('phone',this,'signUp')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="sign-up-phone-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="phone-password" value="1qaz2wsx">
            </div>
        </div>
        <div class="login-container sign-up-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="sign-up-email" value="864927512@qq.com" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCode('email',this,'signUp')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="sign-up-email-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="email-password" value="">
            </div>
        </div>

        <div class="sign-up" onclick="register()">注册</div>
    </div>

    <div class="sign-up-content">

    </div>

</div>

<script id="shopping-car-container" type="text/html">
    {{ if data.data.length === 0 }}
    <div class="shopping-list-no">
        您的购物车空空如也
    </div>
    {{ else if data.data.length > 0}}
    <div class="shopping-list">
        {{ each data.data item i }}
        <a href={{ "./product.html?productId=" + item.productId }} target="_blank" class="shopping-item">
            <div class="item-pic">
                <img src={{ item.introductImage }} alt="">
            </div>
            <div class="item-info">
                <div class="item-base-info">
                    <div class="item-name">{{ item.productName }}</div>
                    <div class="item-price">￥{{ item.money }}</div>
                </div>
                <div class="item-intro-info">
                    {{ item.description }}
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{ if data.quantity > 0 }}
    <p class="more-product-quantity">您还有{{ data.quantity }}件商品在购物车</p>
    {{ /if }}
    {{/if}}
    <a href="./shopping-cart.html" class="to-my-shopping-car-btn">
        查看我的购物车
    </a>
</script>

<script src="../js/app/head.js"></script>

    <div id="edit-order" class="edit-order container">
        <div class="shopping-status">
            <div class="shopping-status-container">
                <div class="shopping-status-item active">
                    <i class="iconfont icon-gouwuche"></i>
                    <span>购物车</span>
                </div>
                <div class="shopping-status-item active">
                    <i class="iconfont icon-order"></i>
                    <span>填写订单</span>
                </div>
                <div class="shopping-status-item">
                    <i class="iconfont icon-pay"></i>
                    <span>等待付款</span>
                </div>
                <div class="shopping-status-item">
                    <i class="iconfont icon-paid"></i>
                    <span>已付款</span>
                </div>
            </div>

        </div>

        <div class="nav-container">
            <a href="./index.html">首页</a>
            <a href="./shopping-cart.html">购物车</a>
            <a href="#">填写订单</a>
        </div>

        <div class="order-detail">
            <p class="order-title">
                填写并核对订单信息
            </p>
            <div class="order-address-info">
                <div class="info-title">
                    <span>收货人信息</span>
                    <span onclick="addNewAddress(this)" class="add-new-address">+新增收货地址</span>
                    <i class="show-address" onclick="showAddress(this)" data-op-show="false">
                        <i class="iconfont icon-drop-down"></i>
                    </i>
                </div>
                <div class="info-content address-content">

                </div>
            </div>
            <div class="batch-operation">
                <div class="title-item  width200">
                    商品清单
                </div>
                <div class="title-item  width200">产品信息</div>
                <div class="title-item width150">单价</div>
                <div class="title-item">数量</div>
                <div class="title-item">优惠/件</div>
                <div class="title-item width150">总价</div>
                <div class="title-item">库存状态</div>
            </div>
            <div class="shopping-list-page"></div>
            <div class="order-remark">
                <input type="text" placeholder="选填，订单留言备注，限45个字" class="remark-input" value="">
            </div>
            <div class="invoice">
                <span>发票信息</span>
                <span>如有需要，请联系客服开发票</span>
            </div>
            <div class="order-pay-info"></div>

        </div>



    </div>
<div class="footer">
    <div class="left-part">
        <div class="feedback">
            <span>意见反馈</span>
            <span>aaa@deepmind.cn</span>
        </div>
        <div class="copy-right">
            &copy;2015 baicheng.com 版权所有 浙ICP备xxxxxxx号
        </div>
    </div>
    <div class="right-part">
        <div class="web-info">
            <span>
                <a href="#">关于百成</a>
            </span>
            <span>
                <a href="#">联系我们</a>
            </span>
        </div>
    </div>
</div>

<script id="shopping-list-page" type="text/html">

    {{ if data.length > 0  }}

    {{ each data order index}}

        {{each order.orderProductDetails product i}}
        <div class="product-item" id={{ 'product-id-'+ product.id }}>

        <div class="product-img">
            <img src={{ product.introductImage }} alt=""/>
        </div>

        <div class="product-info">
            <a href={{ "./product.html?productId="+product.productId }}> {{ product.productName }}  </a>
            {{ each product.standards s i}}
            <p>{{ s.optionName }}: {{ s.optionValueName }}</p>
            {{ /each }}
            <!--<div class="product-description">{{ product.description }}</div>-->
        </div>

        <div class="product-price">￥{{ product.money }}</div>

        <div class="product-quantity">
            {{ product.number }}
        </div>

        <div class="preferential">
            ￥0
        </div>

        <div class="count" id={{ 'count' + product.id }}>
        ￥{{ product.money * product.number | toFixed2 }}
        </div>

        <div class="other-info">
            暂无库存
        </div>

        </div>
        {{ /each }}
    {{ /each }}
    {{ else if data.length === 0}}
    <div class="empty-shopping-cart">
        <i class="iconfont icon-empty-shopping-cart"></i>
        <p>您的购物车空白如雪</p>
    </div>
    {{ /if }}
</script>

<script id="address-content" type="text/html">
    {{ if isShowAddress }}
        {{ each data addr i  }}
        <div class="addr-item" onclick="selectAddr(this)" data-op-index={{ i }}>
            {{ if addr.selected}}
            <i class="iconfont icon-address active"></i>
            {{ else }}
            <i class="iconfont icon-address"></i>
            {{ /if }}
            <span>{{ addr.linkMan }}</span>
            <span>{{ addr.address }}</span>
            <span>{{ addr.telephone }}</span>

            {{if i === 0}}
            <span>[默认]</span>
            {{ /if }}

        </div>
        {{ /each }}
    {{ else }}
        {{ each data addr i  }}
            {{ if addr.selected}}
            <div class="addr-item">
                <i class="iconfont icon-address active"></i>
                <span>{{ addr.linkMan }}</span>
                <span>{{ addr.address }}</span>
                <span>{{ addr.telephone }}</span>
                {{if i === 0}}
                <span>[默认]</span>
                {{ /if }}
            </div>
            {{ /if }}
        {{ /each }}

    {{ /if }}

</script>

<script id="order-pay-info" type="text/html">
    <div class="pay-info">
        <span>总商品金额:</span>
        <span class="total-paid">￥{{ data.money }}</span>
    </div>
    <div class="pay-info">
        <span>运费:</span>
        <span>￥0</span>
    </div>
    <div class="pay-info">
        <span>应付总额:</span>
        <span class="total-paid">￥{{ data.money }}</span>
    </div>
    <div class="need-to-pay">
        <span>应付总额: <i class="total-paid">￥{{ data.money }}</i></span>
        <div class="submitOrder" onclick="submitOrder()">提交订单</div>
    </div>
</script>

    <script src="../js/app/edit-order.js"></script>
</body>
</html>