<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <link rel="stylesheet" href="../css/common/base.css">
    <link href="../css/common/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/pages/product.css">

</head>
<body>
<div class="nav-bar">
    <div class="left-part">
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <div class="func-item hover-blue">
            <a href="./product-list.html">商店</a>
        </div>
    </div>
    <div class="right-part">
        <div class="func-item search">
            <i class="iconfont icon-cx"></i>
            <!--<i class="fa fa-search"></i>-->
            <input type="text" class="search-input" placeholder="搜索百成墙纸网" style="display: none;">
            <span class="to-search" >搜索</span>
            <i class="iconfont icon-close" style="display: none;"></i>
        </div>
        <div class="func-item hover-blue to-login">登录</div>
        <div class="func-item hover-blue to-sign-up">注册</div>
        <div class="func-item">
            <i class="iconfont icon-gouwuche shopping-car"></i>
        </div>
    </div>
</div>

<div class="login">
    <div class="close-login-box">
        <i class="iconfont icon-close"></i>
    </div>
    <div class="title">
       Baicheng Digital
    </div>
    <p>登录到您的账户</p>
    <div class="login-input">
        <i class="iconfont icon-wode"></i>
        <input type="text" placeholder="请输入您的账号" id="account" value="aaa">
    </div>
    <div class="login-input">
        <i class="iconfont icon-suo"></i>
        <input type="password" placeholder="请输入您的密码" id="password" value="1qaz2wsx">
    </div>
    <div class="submit">登录</div>
    <p>我没有账户</p>
    <div class="sign-up">注册</div>
</div>

<script src="../js/app/head.js"></script>

    <div id="product" class="product container">
        <div class="product-container"></div>
        <div class="product-detail"></div>
    </div>
<div class="footer">
    <div class="left-part">
        <div class="feedback">
            <span>意见反馈</span>
            <span>liangjiafu@deepmind.cn</span>
        </div>
        <div class="copy-right">
            &copy;2015 baicheng.com 版权所有 浙ICP备xxxxxxx号
        </div>
    </div>
    <div class="right-part">
        <div class="web-info">
            <span>
                <a href="#">关于百成</a>
            </span>
            <span>
                <a href="#">联系我们</a>
            </span>
        </div>
    </div>
</div>
<script id="product-info" type="text/html">
    <div class="left-part">
        <div class="show-box">
            <img src={{ data.productImages.length > 0 ? data.productImages[0].imageUrl : null}} alt="" class="show-pic" />
        </div>
        <div class="pic-list">
            {{ if data.productImages.length > 6}}
            <div class="left-btn">
                <i class="iconfont icon-left"></i>
            </div>
            {{/if}}
            {{ if data.productImages.length > 0 }}
            <div class="pic-container">
                <ul class="pic-ul">
                    {{each data.productImages image i}}
                    <li class="pic-item">
                        <img src={{ image.imageUrl }} alt="">
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            {{ if data.productImages.length > 6}}
            <div class="right-btn">
                <i class="iconfont icon-left"></i>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="right-part">
        <div class="product-name">
            {{ data.name }}
        </div>
        <p class="product-description">
            {{ data.description }}
        </p>
        <div class="price">
            <p><span>价格：</span><i>￥</i> <i class="product-price">0</i></p>
        </div>
        <div class="product-props">
            <p>产品属性</p>
            {{ each data.productOptions prop i }}
                <div class="props-item">
                    <div class="prop-name">{{prop.name}}</div>
                    <select name={{prop.name}} id={{'props'+prop.id}}>
                        {{ each prop.optionValue op index}}
                        <option value={{op.price}}>{{ op.name }}</option>
                        {{/each}}
                    </select>
                </div>
            {{/each}}
        </div>
        <div class="buy-product">
            <div class="quantity">
                <input type="number" value="1" class="product-quantity">
                <span class="changeQuantity add">+</span>
                <span class="changeQuantity reduce">-</span>
            </div>

            <div class="add-to-car">
                加入购物车
            </div>

        </div>
    </div>
</script>
<script id="product-detail" type="text/html">
    <div class="product-detail-info">
        {{ each data.detailImages images i}}
        <img src={{ images.imageUrl }} alt="">
        {{/each}}
    </div>
</script>
    <script src="../js/app/product.js"></script>
</body>
</html>

<!--


-->