<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    <link rel="stylesheet" href="../css/common/base.css">
    <link rel="stylesheet" href="../css/common/toast.css">
    <link href="../css/common/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/pages/product.css">
</head>
<body>
<div class="nav-bar">
    <div class="left-part">
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <div class="func-item hover-blue">
            <a href="./product-list.html">商店</a>
        </div>
        <div class="func-item hover-blue">
            <a href="./product.html?productId=0" style="margin:0 5px;">开始定制</a>
        </div>
    </div>
    <div class="right-part">
        <div class="func-item search">
            <i class="iconfont icon-cx"></i>
            <!--<i class="fa fa-search"></i>-->
            <input type="text" class="search-input" placeholder="搜索百成墙纸网" style="display: none;">
            <span class="to-search" >搜索</span>
            <i class="iconfont icon-close" style="display: none;"></i>
        </div>
        <div class="func-item hover-blue to-login">登录</div>
        <div class="func-item account-container">
            <a href="./personal.html" class="func-item account">
                <img src="" alt="" class="account-icon">
                <span>未登录</span>

            </a>
            <ul class="logout">

                <li>
                    <a href="./my-order.html">我的订单</a>
                </li>
                <li onclick="logout()">注销登陆</li>

            </ul>
        </div>

        <div class="func-item hover-blue to-sign-up">注册</div>
        <div class="func-item show-shopping-car">
            <span class="shopping-quantity">0</span>
            <i class="iconfont icon-gouwuche shopping-car"></i>
            <div class="shopping-car-container"></div>
        </div>
    </div>
</div>

<div class="login">
    <div class="close-login-box">
        <i class="iconfont icon-close"></i>
    </div>
    <div class="title">
       Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="login-account login-tab-active" onclick="changeLoginType('account')" data-op-type="account">密码登陆</span>
            <span class="login-phone" onclick="changeLoginType('phone')" data-op-type="phone">手机登陆</span>
            <span class="login-email" onclick="changeLoginType('email')" data-op-type="email">邮箱登陆</span>
        </div>
        <div class="login-container login-phone-container">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="phone" value="15622316910" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCodeForLogin('phone',this,'login')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="phone-code" value="">
                <!-- <i class="iconfont icon-suo"></i>
                 <input type="password" placeholder="请输入您的密码" id="password" value="">-->
            </div>
        </div>
        <div class="login-container login-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="email" value="864927512@qq.com" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCodeForLogin('email',this,'login')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="email-code" value="">
                <!--<input type="password" placeholder="请输入您的密码" id="password" value="">-->
            </div>
        </div>
        <div class="login-container login-account-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-wode"></i>
                <input type="text" placeholder="请输入您的手机号/邮箱/账号" id="account" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="password" value="">
            </div>
        </div>

        <div class="submit">登录</div>
        <a href="#" class="show-forget-box">忘记密码</a>
        <p>我没有账户</p>
        <div class="sign-up">注册</div>
    </div>

</div>

<div class="login sign-up-box">
    <div class="close-login-box close-sign-up-box">
        <i class="iconfont icon-close "></i>
    </div>
    <div class="title">
        Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="sign-up-phone sign-up-tab-active" onclick="changeSignUpTab('phone')" data-op-type="phone">手机注册</span>
            <span class="sign-up-email" onclick="changeSignUpTab('email')" data-op-type="email">邮箱注册</span>
        </div>
        <div class="login-container sign-up-phone-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="sign-up-phone" value="" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCodeForLogin('phone',this,'signUp')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="sign-up-phone-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="phone-password" value="">
            </div>
        </div>
        <div class="login-container sign-up-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="sign-up-email" value="" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCodeForLogin('email',this,'signUp')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="sign-up-email-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="email-password" value="">
            </div>
        </div>

        <div class="sign-up" onclick="register()">注册</div>
    </div>

    <div class="sign-up-content">

    </div>

</div>

<div class="login forget-password-box">
    <div class="close-login-box close-forget-password-box">
        <i class="iconfont icon-close "></i>
    </div>
    <div class="title">
        Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="forget-password-phone forget-password-tab-active" onclick="changeForgetPasswordTab('phone')" data-op-type="phone">手机验证</span>
            <span class="forget-password-email" onclick="changeForgetPasswordTab('email')" data-op-type="email">邮箱验证</span>
        </div>
        <div class="login-container forget-password-phone-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="forget-password-phone" value="15622316910" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCodeForLogin('phone',this,'forgetPassword')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="forget-password-phone-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="f-phone-password" value="">
            </div>
        </div>
        <div class="login-container forget-password-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="forget-password-email" value="864927512@qq.com" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCodeForLogin('email',this,'forgetPassword')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="forget-password-email-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="f-email-password" value="">
            </div>
        </div>

        <div class="submit forget-password" onclick="toResetPassword()">重置密码</div>
    </div>

</div>

<script id="shopping-car-container" type="text/html">
    {{ if data.data.length === 0 }}
    <div class="shopping-list-no">
        您的购物车空空如也
    </div>
    {{ else if data.data.length > 0}}
    <div class="shopping-list">
        {{ each data.data item i }}
        <a href={{ "./product.html?shoppingCartId=" + item.id }} target="_blank" class="shopping-item">
            <div class="item-pic">
                <img src={{ item.introductImage }} alt="">
            </div>
            <div class="item-info">
                <div class="item-base-info">
                    <div class="item-name">{{ item.productName }}</div>
                    <div class="item-price">￥{{ item.money }}</div>
                </div>
                <div class="item-intro-info">
                    {{ item.description }}
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{ if data.quantity > 0 }}
    <p class="more-product-quantity">您还有{{ data.quantity }}件商品在购物车</p>
    {{ /if }}
    {{/if}}
    <a href="./shopping-cart.html" class="to-my-shopping-car-btn">
        查看我的购物车
    </a>
</script>

<script src="../js/app/head.js"></script>

<div id="product" class="product container">
    <div class="product-container">

    </div>
    <div class="product-detail"></div>
    <form action="" id="upload-form" style="display: none;">
        <input type="file" name="upload-file" id="upload-file" onchange="uploadImage()">
    </form>
</div>
<div class="footer">
    <div class="left-part">
        <div class="feedback">
            <span>意见反馈</span>
            <span>aaa@deepmind.cn</span>
        </div>
        <div class="copy-right">
            &copy;2015 baicheng.com 版权所有 浙ICP备xxxxxxx号
        </div>
    </div>
    <div class="right-part">
        <div class="web-info">
            <span>
                <a href="#">关于百成</a>
            </span>
            <span>
                <a href="#">联系我们</a>
            </span>
        </div>
    </div>
</div>
<script id="product-info" type="text/html">
    {{ if data.productType === 2 && imgs.length > 0}}
    <div class="show-type-container">
        <span class="active-type" onclick="changeShowType(event, 0)">产品显示</span>
        <span  onclick="changeShowType(event, 1)">实景显示</span>
    </div>
    {{ /if }}
    <div class="product-box">
        <div class="material-box-content">
            <div class="material-box" data-op-scale-x="1" data-op-scale-y="1" data-op-top="0">
                <div class="page-box">
                    <div class="trim-box">
                        <div class="image-box">
                            {{ if data.hasOwnProperty('productImages') && data.productImages.length > 0 }}
                            <img src={{ data.productImages[0].imageUrl }} alt="" id="product-img">
                            {{ else }}
                            <img src="" alt="" class="product-picture">
                            {{ /if }}
                        </div>
                    </div>
                </div>
                {{ if data.productType === 2  }}
                <div class="operation-box">
                    <i class="iconfont icon-bigger" onmousedown="scaleProductImage(1)"></i>
                    <span id="scale-number" data-op-scale="1">100%</span>
                    <i class="iconfont icon-smaller" onmousedown="scaleProductImage(-1)"></i>
                    <i class="iconfont icon-rotate" id="rotate-number" onclick="rotateProductImage(event)" data-op-rotate="0"></i>
                </div>
                {{ /if }}
            </div>
            <div class="img-box">
                <img src="../images/wp3.png" alt="">
            </div>
        </div>
        {{ if data.productType === 2 && imgs.length > 0}}
        <div class="scene-container">
            {{ each imgs img i }}
            <img src={{ img.src }} alt="" onclick="changeScene({{ i }})" >
            {{ /each }}
        </div>
        {{ /if }}
    </div>
    <div class="product-info">
        <div class="product-name">{{ data.name !== null ? data.name : '定制产品'}}</div>
        <div class="price">
            <span>{{ data.productGroupName }}</span>
            <span class="price-count">{{data.price !== null ? '￥' + data.price : '' }}</span>
        </div>
        <div class="props"></div>

        {{ if data.productType === 2 }}
        <div class="upload-file" onclick="toUploadImage()">
            上传图片
        </div>
        {{ /if }}

        <div class="buy-product">
            <div class="quantity">
                <input type="number" value="1" class="product-quantity" onchange="checkNumber(this)">
                <span class="change-quantity add" onclick="changeQuantity(1)">+</span>
                <span class="change-quantity reduce" onclick="changeQuantity(-1)">-</span>
            </div>

            <div class="add-to-car" onclick="toAddShoppingCart()">
                加入购物车
            </div>

        </div>
    </div>
</script>
<script id="editor-info" type="text/html">
    {{ each data props}}
        {{ if props.optionType === 2 }}
            <div class="props-item">
                {{ if props.type === 0 }}
                <div class="props-name">
                    {{ props.name }}
                    {{ if props.values.length > 1 }}
                    {{ each props.values shape i }}
                    {{ if !shape.selected }}
                    <span class="sec-props" onclick="selectShape(event, 1)" data-op-prop-id="2" data-op-index={{ i }} data-parent-id={{ props.id }} data-prop-id={{ shape.id }}>{{ shape.name }}</span>
                    {{ else  }}
                    <span class="sec-props-select" data-op-prop-id="2" data-op-index={{ i }} data-parent-id={{ props.id }} data-prop-id={{ shape.id }}>{{ shape.name }}</span>
                    {{ /if }}
                    {{ /each }}
                    {{ /if }}
                </div>
                {{ /if }}
                {{ if props.type === 1 }}
                <div class="props-value">
                    {{ each props.values value }}
                    {{ if !value.selected }}
                    <span class="span-box" style="border-color: #ddd" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ else }}
                    <span class="span-box" style="border-color: #00afab; background: #00afab; color: #fff;" onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}>{{ value.name }}</span>
                    {{ /if }}
                    {{ /each }}
                </div>
                {{ /if }}
            </div>
        {{ else if props.optionType === 7 }}
            <div class="props-item">
                <div class="props-name">
                    {{ props.name }}
                </div>
                <div class="props-value">
                    {{ each props.values value }}
                    <i><img src={{ value.smallImage }} title={{ value.name }} class={{ value.selected ? 'selected' : '' }} alt="" data-selected={{ value.selected }} onclick="selectThisProp(event)" data-type={{ props.type }} data-prop-value={{ value.name }} data-prop-id={{ value.id }}></i>
                    {{ /each }}
                </div>
            </div>
        {{ else if props.optionType === 3 }}
            <div class="props-item">
                <div class="props-value props-select">
                    <span class="input-title">{{ props.name }}:</span>
                    <input class="paper-input" type="text" onfocus="showSelectBox(event,true)"
                           onblur="showSelectBox(event,false)" readonly data-type="" data-op-len={{ props.values.length }} data-op-id={{ props.id }} value={{props.selectValue}}>
                    <i class="iconfont icon-drop-down"></i>
                    <div class="select-box" id={{ 'drop-down-' + props.id }}>
                        <ul>
                            {{ each props.values li }}
                            <li onmousedown="selectThisProp(event)" data-type={{ props.type }} data-prop-id={{ li.id }}>
                                {{ li.name }}
                                {{ if li.selected }}
                                <i class="iconfont icon-ok"></i>
                                {{ /if }}
                            </li>
                            {{ /each }}
                        </ul>
                    </div>
                </div>
            </div>
        {{ /if }}
    {{ /each }}
</script>
<script id="product-detail" type="text/html">
    <div class="product-detail-info">
        {{ each data.detailImages images i}}
        <img src={{images.imageUrl}} alt="">
        {{/each}}
    </div>
</script>
<script src="../js/app/product.js"></script>
</body>
</html>