<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E:\node\node.exe</title>
    <link rel="stylesheet" href="../css/common/base.css">
    <link href="../css/common/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/pages/to-pay.css">

</head>
<body>
<div class="nav-bar">
    <div class="left-part">
        <div class="logo">
            <a href="./index.html">
                <img src="../images/logo.png" alt="">
            </a>
        </div>
        <div class="func-item hover-blue">
            <a href="./product-list.html">商店</a>
        </div>
    </div>
    <div class="right-part">
        <div class="func-item search">
            <i class="iconfont icon-cx"></i>
            <!--<i class="fa fa-search"></i>-->
            <input type="text" class="search-input" placeholder="搜索百成墙纸网" style="display: none;">
            <span class="to-search" >搜索</span>
            <i class="iconfont icon-close" style="display: none;"></i>
        </div>
        <div class="func-item hover-blue to-login">登录</div>
        <div class="func-item account-container">
            <a href="./personal.html" class="func-item account">
                <img src="" alt="" class="account-icon">
                <span>未登录</span>

            </a>
            <ul class="logout">

                <li>
                    <a href="./my-order.html">我的订单</a>
                </li>
                <li onclick="logout()">注销登陆</li>

            </ul>
        </div>

        <div class="func-item hover-blue to-sign-up">注册</div>
        <div class="func-item show-shopping-car">
            <span class="shopping-quantity">0</span>
            <i class="iconfont icon-gouwuche shopping-car"></i>
            <div class="shopping-car-container"></div>
        </div>
    </div>
</div>

<div class="login">
    <div class="close-login-box">
        <i class="iconfont icon-close"></i>
    </div>
    <div class="title">
       Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="login-account login-tab-active" onclick="changeLoginType('account')" data-op-type="account">密码登陆</span>
            <span class="login-phone" onclick="changeLoginType('phone')" data-op-type="phone">手机登陆</span>
            <span class="login-email" onclick="changeLoginType('email')" data-op-type="email">邮箱登陆</span>
        </div>
        <div class="login-container login-phone-container">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="phone" value="15622316910" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCodeForLogin('phone',this,'login')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="phone-code" value="">
                <!-- <i class="iconfont icon-suo"></i>
                 <input type="password" placeholder="请输入您的密码" id="password" value="">-->
            </div>
        </div>
        <div class="login-container login-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="email" value="864927512@qq.com" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCodeForLogin('email',this,'login')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="email-code" value="">
                <!--<input type="password" placeholder="请输入您的密码" id="password" value="">-->
            </div>
        </div>
        <div class="login-container login-account-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-wode"></i>
                <input type="text" placeholder="请输入您的手机号/邮箱/账号" id="account" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="password" value="">
            </div>
        </div>

        <div class="submit">登录</div>
        <a href="#" class="show-forget-box">忘记密码</a>
        <p>我没有账户</p>
        <div class="sign-up">注册</div>
    </div>

</div>

<div class="login sign-up-box">
    <div class="close-login-box close-sign-up-box">
        <i class="iconfont icon-close "></i>
    </div>
    <div class="title">
        Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="sign-up-phone sign-up-tab-active" onclick="changeSignUpTab('phone')" data-op-type="phone">手机注册</span>
            <span class="sign-up-email" onclick="changeSignUpTab('email')" data-op-type="email">邮箱注册</span>
        </div>
        <div class="login-container sign-up-phone-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="sign-up-phone" value="" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCodeForLogin('phone',this,'signUp')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="sign-up-phone-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="phone-password" value="">
            </div>
        </div>
        <div class="login-container sign-up-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="sign-up-email" value="" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCodeForLogin('email',this,'signUp')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="sign-up-email-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="email-password" value="">
            </div>
        </div>

        <div class="sign-up" onclick="register()">注册</div>
    </div>

    <div class="sign-up-content">

    </div>

</div>

<div class="login forget-password-box">
    <div class="close-login-box close-forget-password-box">
        <i class="iconfont icon-close "></i>
    </div>
    <div class="title">
        Baicheng Digital
    </div>
    <div class="login-content">
        <div class="login-tab">
            <span class="forget-password-phone forget-password-tab-active" onclick="changeForgetPasswordTab('phone')" data-op-type="phone">手机验证</span>
            <span class="forget-password-email" onclick="changeForgetPasswordTab('email')" data-op-type="email">邮箱验证</span>
        </div>
        <div class="login-container forget-password-phone-container" style="display: block;">
            <div class="login-input">
                <i class="iconfont icon-phone"></i>
                <input type="text" placeholder="请输入您的手机号码" id="forget-password-phone" value="15622316910" style="width: 200px;">
                <span class="send-code-btn send-code-phone" onclick="sendCodeForLogin('phone',this,'forgetPassword')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="forget-password-phone-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="f-phone-password" value="">
            </div>
        </div>
        <div class="login-container forget-password-email-container">
            <div class="login-input">
                <i class="iconfont icon-email"></i>
                <input type="text" placeholder="请输入您的邮箱地址" id="forget-password-email" value="864927512@qq.com" style="width: 200px;">
                <span class="send-code-btn send-code-email" onclick="sendCodeForLogin('email',this,'forgetPassword')" data-send-code="false">发送验证码</span>
            </div>
            <div class="login-input">
                <i class="iconfont icon-id-code"></i>
                <input type="text" placeholder="请输入验证码" id="forget-password-email-code" value="">
            </div>
            <div class="login-input">
                <i class="iconfont icon-suo"></i>
                <input type="password" placeholder="请输入您的密码" id="f-email-password" value="">
            </div>
        </div>

        <div class="submit forget-password" onclick="toResetPassword()">重置密码</div>
    </div>

</div>

<script id="shopping-car-container" type="text/html">
    {{ if data.data.length === 0 }}
    <div class="shopping-list-no">
        您的购物车空空如也
    </div>
    {{ else if data.data.length > 0}}
    <div class="shopping-list">
        {{ each data.data item i }}
        <a href={{ "./product.html?productId=" + item.productId }} target="_blank" class="shopping-item">
            <div class="item-pic">
                <img src={{ item.introductImage }} alt="">
            </div>
            <div class="item-info">
                <div class="item-base-info">
                    <div class="item-name">{{ item.productName }}</div>
                    <div class="item-price">￥{{ item.money }}</div>
                </div>
                <div class="item-intro-info">
                    {{ item.description }}
                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{ if data.quantity > 0 }}
    <p class="more-product-quantity">您还有{{ data.quantity }}件商品在购物车</p>
    {{ /if }}
    {{/if}}
    <a href="./shopping-cart.html" class="to-my-shopping-car-btn">
        查看我的购物车
    </a>
</script>

<script src="../js/app/head.js"></script>

<div id="to-pay" class="to-pay container">
    <div class="nav-container">
        <a href="./index.html">首页</a>
        <a href="./my-order.html">购物车</a>
        <a href="#">填写订单</a>
        <a href="#">等待支付</a>
    </div>
    <div class="to-pay-container">
        <div class="to-pay-content">
            <p class="to-pay-title">订单提交成功，请您尽快付款！</p>
            <div class="order-detail">
                <div class="base-info"></div>
            </div>
        </div>
        <div class="to-pay-method">
            <p>
                <span>支付金额:</span>
                <span class="money"></span>
            </p>
            <p>
                <span>支付方式:</span>
                <span class="pay-way pay-way-active" onclick="selectThisPayWay(this)" data-op-way="wechat">
                <i class="iconfont icon-wechatpay"></i>微信支付
            </span>
                <span class="pay-way"  onclick="selectThisPayWay(this)" data-op-way="ali">
                <i class="iconfont icon-alipay" ></i>支付宝支付
            </span>
            </p>
            <div class="to-pay-btn" onclick="toPay()">
                确认付款
            </div>
        </div>
    </div>

    
    <div class="show-pay-box">
        <div class="box-title">
            付款状态
            <i class="iconfont icon-close" onclick="closePayBox()"></i>
        </div>
        <div class="box-content">
            <p>请用微信扫一扫，进行支付</p>
            <img src="" alt="" class="pay-code">
            <div class="pay-done">已完成支付</div>
        </div>

    </div>

</div>
<div class="footer">
    <div class="left-part">
        <div class="feedback">
            <span>意见反馈</span>
            <span>aaa@deepmind.cn</span>
        </div>
        <div class="copy-right">
            &copy;2015 baicheng.com 版权所有 浙ICP备xxxxxxx号
        </div>
    </div>
    <div class="right-part">
        <div class="web-info">
            <span>
                <a href="#">关于百成</a>
            </span>
            <span>
                <a href="#">联系我们</a>
            </span>
        </div>
    </div>
</div>
<script id="base-info" type="text/html">
    <p>
        {{ if showDetail }}
        <span onclick="showDetail(this)" data-op-bool="false">
           订单详情
            <i class="iconfont icon-drop-up"></i>
        </span>
        {{ else }}
        <span onclick="showDetail(this)" data-op-bool="true">
           订单详情
            <i class="iconfont icon-drop-down"></i>
        </span>
        {{ /if }}
    </p>
    {{ if showDetail }}
    <p>
        <span>订单编号:  </span>
        <span>{{ data.orderNumber }}</span>
    </p>
    <p>
        <span>商品明细:  </span>
    </p>
    <div class="product-info">
        {{ each data.orderProductDetails product i }}
        <p class="standards">
            <span>{{ product.productName }}/</span>
            {{ each product.standards s _s }}
                <span>{{ s.optionName }}{{ s.optionValueName }}/</span>
            {{ /each }}
        </p>
        {{ /each }}
    </div>

    <p>
        <span>交易金额:</span>
        <span>{{ data.money}}元</span>
    </p>
    <p>
        <span>购买时间:</span>
        <span>{{ data.createTime | formDate}}</span>
    </p>
    <p>
        <span>收货地址:</span>
        <span>{{ data.address }}</span>
        <span>{{ data.linkMan }}</span>
        <span>{{ data.telephone }}</span>
    </p>
    <p>
        <span>订单备注:</span>
        <span>{{ data.description }}</span>
    </p>
    {{ /if }}
</script>
<script src="../js/app/to-pay.js"></script>
</body>
</html>