.personal{
  width: 100%;
}

.personal .view-image{
  height: 120px;
  img{
    height: 120px;
  }
}

.account-name-container{
  width: 100%;
  background: #fff;
  .account-name{
    margin:0 auto;
    text-align: center;
    img{
      margin:-30px auto;
      border:1px solid rgba(255,255,255,1);
      width: 60px;
      height: 60px;
      border-radius: 200px;
      display: block;
      position: relative;
    }
    span{
      color:#666;
      font-size:22px;
      display: inline-block;
      margin:30px 0;
    }
  }
}

.account-op-container{
  width: 900px;
  margin: 20px auto 10px auto;
  display: flex;
  .op-title{
    width: 150px;
    li{
      font-size:16px;
      padding:10px 0;
      text-align: center;
      color:#999;
      cursor: pointer;
      a{
        color:#999;
      }
    }
    li:hover{
      color: #666;
    }
    li:hover>a{
      color: #666;
    }
    .op-active > a{
      color:#333;
    }
    .op-active:hover>a{
      color:#333;
    }
  }
  .op-content{
    background: #fff;
    width: 750px;
    border:1px solid #ddd;
    color:#666;
    .op-head{
      background: #ececec;
      font-size:14px;
      padding:10px;
    }
    .op-info{
      padding:5px 5px 20px 5px;
      .op-item{
        margin: 10px 0;
        display: flex;
        span{
          height: 30px;
          line-height: 30px;
        }
        span:first-child{
          display: block;
          width: 100px;
          text-align: right;
          padding:0 10px 0 0;
          height: 30px;
          line-height: 30px;
          color: #999;
          font-size: 14px;
        }
        input[type=text]{
          width: 300px;
          height: 30px;
        }
        input{
          box-sizing: border-box;
          border:1px solid #ddd;
          padding:5px;
          outline: none;
        }
        label{
          margin:0 50px 0 0;
          cursor: pointer;
        }
        textarea{
          border:1px solid #ddd;
          width: 300px;
          height: 50px;
          outline: none;
        }
        .addr-select-container{
          display: flex;
          .addr-select{
            border:1px solid #ddd;
            padding:0 20px 0 0;
            font-size: 14px;
            margin:0 20px 0 0;
            position: relative;
            cursor: pointer;
            input{
              text-align: center;
              max-width: 130px;
              border:none;
            }
          }
          .addr-select::after{
            content:'';
            position: absolute;
            right: 5px;
            top:50%;
            border:5px solid transparent;
            border-top:5px solid #333;
            transform:translate(0,-25%);
          }
          .addr-container{
            background: #fff;
            border:1px solid #ddd;
            position: absolute;
            z-index: 100;
            text-align: center;
            max-height: 300px;
            width: calc(100% - 10px);
            overflow-y: scroll;
            padding:0 5px;
            margin:5px 0 0 0;
            display: none;
            li{
              padding:3px 0;
            }
            li:hover{
              background: rgba(0,161,222,1);
              color:#fff;
            }
          }
        }
        a{
          color:#00a6de;
          font-size: 15px;
          text-decoration: underline;
        }
      }
    }
  }
  .submit-btn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #00a6de;
    color: #fff;
    position: absolute;
    margin: 20px 0 0 0;
    border-radius:3px;
    cursor: pointer;
  }
}

.content-item{
  height: 80px;
  border:1px solid #ececec;
  padding: 5px 10px;
  width: 100%;
  box-sizing:border-box;
  margin:10px 0;
  transition:border-color .3s ease;
  .base-info{
    color:#666;
    padding:5px 0;
    border-bottom:1px solid #ececec;
    .base-info-item{
      margin:0 10px;
    }

    .base-info-item:first-child{
      margin:0 10px 0 0;
    }

    .fr{
      float:right;
      color:#ccc;
      margin:0 10px;
      cursor: pointer;
      transition:color .3s ease;
    }

    .fr:hover{
      color:#f00;
    }

    .default{
      color: #f00;
    }
    .operate{
      float:right;
      i{
        margin:0 5px;
        cursor: pointer;
      }
      .icon-delete{
        color:#f00;
      }
    }
  }
  .base-content{
    padding:10px 0 5px 0;
    color:#666;
    i{
      color:#999;
    }
  }
}

.content-item:hover{
  border-color:#999;
}

.content-item:hover>.base-content>i{
  visibility: visible;
}