.product{
  padding-top:70px;
  box-sizing:border-box;
}
.product-container{
  position: relative;
  width: 1020px;
  margin: 0 auto;
  border:1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding:20px 20px 20px 45px;
  background: #fff;
  visibility: hidden;
  .product-box{
    width: 700px;
    height: 550px;
    overflow: hidden;
     //background: #ddd;
    position: relative;
    .material-box-content{
      width: 550px;
      height: 550px;
      margin: 0 90px;
      box-sizing: border-box;
      position:relative;
    }
    .material-box{
      display: none;
      box-shadow: 5px 5px 5px #999;
      transition: transform .2s ease;
      position: absolute;
    }
    .page-box{
      float:left;
      box-shadow: 0 0 10px #666 inset;
    }
    .trim-box{
      float:left;
      .image-box{
        border:2px solid #bbb;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
      }
      img{
        background: #eee;
        display: block;
      }
    }
    .img-box{
      display: none;
      img{
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
    .scene-container{
      width: 85px;
      height: 100%;
      top: 0;
      left: 0;
      background: #ececec;
      position: absolute;
      transform: translate(-100px, 0);
      transition: transform .2s ease .1s;
      background: rgba(255,255,255, .5);
      img{
        width: 80px;
        height: 80px;
        cursor: pointer;
        border: 1px solid #ddd;
        margin: 0 0 5px 2px;
      }
      img:hover{
        box-shadow: 0 0 10px #333;
      }
    }
  }
  .product-info{
    width: 320px;
    height: 600px;
    font-size:15px;
    color: #666;
    .product-name{
      font-size: 20px;
      color: #777;
      padding:0 0 10px 0;
    }
    .price{
      border-bottom:1px solid #ddd;
      padding: 0 0 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span:last-child{
        font-size:24px;
        padding: 0 10px;
        color: #333;
        font-weight: bold;
      }
    }
    .props-item{
      .props-name{
        padding: 5px 5px 5px 0;
        color: #666;
        .sec-props,.sec-props-select{
          float: right;
          display: inline-block;
          padding: 1px 3px;
          font-size: 14px;
          cursor: pointer;
        }
        .sec-props-select{
          background: #ddd;
        }
      }
      .props-value{
        padding: 0 0 10px 0;
        margin:5px 0 0 0;
        .span-box{
          display: inline-block;
          border: 1px solid #ddd;
          margin: 5px 5px 0 0;
          padding: 5px 10px;
          font-size:14px;
          cursor: pointer;
        }
        i{
          cursor: pointer;
          img{
            width: 40px;
            height: 40px;
            border: 1px solid #ddd;
            padding: 5px;
          }
          .selected{
            border-color: #00afab;
          }
        }
      }
      .props-select{
        background: #fff;
        width: 300px;
        height: 32px;
        line-height: 32px;
        padding: 0 5px;
        border:1px solid #ddd;
        font-size: 14px;
        position: relative;
        margin:0 0 15px 0;
        input{
          width: 240px;
          height: 28px;
          border: none;
          box-sizing: border-box;
          padding: 0 5px;
          outline: none;
          cursor: pointer;
        }
        .select-box{
          overflow: hidden;
          height: 0;
          position: absolute;
          background: #fff;
          box-shadow: 0 0 10px #999;
          width: 100%;
          z-index: 11;
          margin: 2px 0;
          left: 0;
          padding: 0 10px;
          box-sizing: border-box;
          border-radius:3px;
          transition: height .2s ease;
          li{
            padding: 0 0 0 30px;
            height: 32px;
            border-bottom: 1px solid #ececec;
            cursor: pointer;
            i{
              float: right;
              color: #00a1de;
              font-size: 16px;
            }
          }
        }
      }
    }
    .props-item:first-child{
      margin: 5px 0 0 0;
      .props-name{
        padding: 5px 5px 0 0;
      }
    }
  }
}

.upload-file{
  width: 310px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #00afab;
  color: #fff;
  margin: 5px 0 0 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.upload-file:before{
  position: absolute;
  content: '';
  background: rgba(255,255,255,.3);
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  transition: left .5s linear;
}

.upload-file:hover:before{
  left: 100%;
}

.buy-product{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding:10px 0 ;
  .quantity{
    position: relative;
    margin-right: 10px;
    border:1px solid #ececec;
  }
  input{
    width: 90px;
    height: 38px;
    border:none;
    outline: none;
    text-align: center;
    font-size: 16px;
  }
  .change-quantity{
    position: absolute;
    top:0;
    right: 0;
    font-size:20px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #ececec;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  .reduce{
    margin-top:20px;
  }
  .reduce::after{
    content:'';
    position:absolute;
    left:0;
    top:0;
    width: 20px;
    height: 1px;
    background: #ccc;
  }
  .add-to-car{
    width: 210px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f00;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}


.product-detail{
  width: 1045px;
  margin: 10px auto;
  border:1px solid #ececec;
  display: flex;
  justify-content: space-between;
  padding:20px;
  background: #fff;
  visibility: hidden;
  img{
    max-width: 100%;
  }
}

.operation-box{
  //background: #eee;
  height: 30px;
  width: 100%;
  margin: 15px 0;
  float: left;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    font-size: 25px;
    color: #999;
    cursor: pointer;
    margin: 0 10px;
  }
}

#product-img{
  transition: transform .2s ease;
  transform-origin: center center;
}

.show-type-container{
  position: absolute;
  left: 0;
  width: 20px;
  z-index: 11;
  top: 40%;
  transform: translate(0, -50%);
  span{
    display: inline-block;
    margin:0 0 10px 0;
    background: #eee;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow .3s ease;
    user-select: none;
  }
  span:hover{
    box-shadow: 5px 0 5px #ccc;
  }
  .active-type{
    box-shadow: 5px 0 5px #999;
  }
  .active-type:hover{
    box-shadow: 5px 0 5px #999;
  }
}