@hover-color:#00A6DE;
.product-list{
  padding-top:160px;
}
.tags-container{
  width: 1060px;
  margin:10px auto 0 auto;
  position: relative;
  .tag-item{
    display: flex;
    border-bottom:1px solid #ccc;
    padding:5px 0;
    color:#666;
    font-size:15px;
    .tag-title{
      color:#999;
      width: 60px;
    }
    .tag-content{
      width: 980px;
      span{
        display: inline-block;
        margin-right: 34px;
        margin-bottom: 3px;
        cursor: pointer;
        border:1px solid transparent;
        padding:3px 6px;
        transition:border-color .3s ease;
      }
      span:first-child{
        margin:0;
      }
      span:hover{
        border-color:#ddd;
      }
      .active{
        border-color:#ccc;
      }
      .more-tags{
        position: absolute;
        top:5px;
        right: 0;
        margin:0;
        border:none;
      }
    }
  }
}
.production-list {
  //background: rgba(0,0,0,.5);
  width: 1100px;
  margin:0 auto 10px auto;
  overflow: hidden;
  //padding:100px 10px 10px 10px;
  .b-title{
    padding:0 0 20px 0;
    margin:0;
    text-align: center;
    font-size: 28px;
  }
  .product-container {
    overflow: hidden;
    padding:20px 0;
  }
  .production-item{
    width: 250px;
    height: 295px;
    float:left;
    margin:0 10px 20px 10px;
    box-sizing: border-box;
    border:1px solid #ddd;
    background: #fff;
    transition:box-shadow .3s ease, transform .3s ease;
    overflow: hidden;
    .product-img{
      overflow: hidden;
      width: 250px;
      height: 250px;
      background: #f4f4f4;
      box-sizing: border-box;
    }
    img{
      width: 250px;
      height: 250px;
      background: #fff;
      box-sizing: border-box;
    }
    .product-content{
      font-size:15px;
      padding:5px;
      .product-name,.create-user{
        transition:color .5s ease;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 5px 0;
        span:first-child{
          text-align: left;
          width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
        }
        span:last-child{
          padding:0 5px 0 0;
          i{
            font-size: 14px;
            padding:0 3px;
          }
          width: 85px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: right;
          font-style: normal;
        }
      }
      .product-name{
        span{
          color:#666;
        }
        span:last-child{
          color:#00a6de;
        }
      }
      .create-user{
        span{
          color:#999;
        }
      }
    }
  }
  .production-item:hover{
    box-shadow: 0 0 20px #999;
    transform: translate(0 , -5px);
  }
  .production-item:hover .product-name{
    color:@hover-color;
  }
  .get-more-product{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:color .5s ease,background .5s ease;
    .icon-left{
      position: absolute;
      transform:translate(-10px,0) scale(-1);
      opacity:0;
      transition:transform .5s ease,opacity .5s ease;
    }
  }
  .get-more-product:hover{
    color:@hover-color;
    background: #eee;
  }
  .get-more-product:hover>.icon-left{
    opacity:1;
    transform:translate(5px,0) scale(-1);
  }
}