.shopping-list-page{
  width: 1060px;
  margin: 10px auto;
  box-sizing: border-box;
}

.product-item{
  width: 100%;
  min-height: 120px;
  box-sizing: border-box;
  border-bottom:1px solid #ddd;
  display: flex;
  align-items: center;
  font-size:14px;
  background: #fff;
  padding:10px 0;
  transition: background .5s ease;
  .product-select{
    width: 50px;
  }
  .product-img{
    float:left;
    width: 140px;
    height: 140px;
    //background: #ddd;
    margin-right: 10px;
    box-sizing: border-box;
    img{
      width: 140px;
      height: 140px;
    }
  }

  .product-info{
    float:left;
    width: 200px;
    height: 100%;
    //background: #ccc;
    color:#666;
    padding-right:10px;
    a{
      display: inline-block;
      color:#333;
      text-decoration: underline;
      padding:5px 0;
    }
  }

  .product-price{
    float:left;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size:16px;
    //background: #aaa;
  }

  .product-quantity{
    width: 100px;
    display: flex;
    align-items: center;
    //overflow: hidden;
    margin:0 10px;
    position: relative;
    //background: #999;
    .quantity-tool{
      border:1px solid #ccc;
    }
    input{
      width: 60px;
      height: 30px;
      border:none;
      text-align: center;
      outline: none;
      box-sizing:border-box;
      position: relative;
      margin: 0 0 0 20px;
    }

    .add-num,.reduce-num{
      width: 20px;
      height: 30px;
      line-height: 30px;
      background: #DDD;
      position: absolute;
      text-align: center;
      cursor: pointer;
      top:0;
      border:1px solid #ccc;
      color:#666;
    }
    .add-num{
      right:0;
      font-size:16px;

    }
    .reduce-num{
      left: 0;
    }
    .add-num::after{
      content: '+';
    }
    .reduce-num::after{
      content: '-';
    }
  }

  .preferential{
    width: 100px;
    //background: #888;
    padding-right: 10px;
  }

  .count{
    float:left;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size:18px;
    //font-weight: bold;
    color:#333;
    //background: #777;
  }

  .del{
    float:left;
    width: 100px;
    text-align: center;
    height: 150px;
    line-height: 150px;
    //background: #666;
    i{
      font-size: 18px;
      color:#999;
      cursor: pointer;
      transition:color .5s ease;
    }
    i:hover{
      color:#f00;
    }
  }

}

.product-item:hover{
  background: rgba(0,166,222,.1);
}

.product-selected{
  background: rgba(0,166,222,.2);
}

.product-selected:hover{
  background: rgba(0,166,222,.2);
}

.to-pay{
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  line-height: 100px;
  position: fixed;
  z-index: 100;
  padding:0 30px;
  visibility: hidden;
  bottom: 0;
  background: #fff;
  border-top:1px solid #ddd;
  .order-quantity{
    color:#f00;
    font-size:25px;
    font-size:25px;
  }

  .pay-container{
    width: 1060px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .to-submit-order{
    display: flex;
    align-items: center;
    .count-money{
      color:#f00;
      font-size: 25px;
      i{
        font-size: 18px;
        font-style: normal;
      }
    }
    .to-order{
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #aaa;
      cursor: pointer;
      color:#fff;
      margin: 0 0 0 30px;
    }
    .pay-tips{
      font-size: 16px;
      color:#666;
    }
  }
}

.to-pay-bottom{
  padding:0;
  width:1060px;
  position: relative;
  margin:0 auto 10px auto;
  background: transparent;
  border:none;
}

.batch-operation{
  visibility: hidden;
  width: 1060px;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom:2px solid #ddd;
  margin:10px auto;
  color:#999;
  .title-item{
    width: 100px;
    padding-right: 10px;
  }
  .title-item:last-child{
    text-align: center;
  }
  .width200{
    width: 200px;
  }
  .width150{
    width: 150px;
  }
  i{
    color:#f00;
    font-size:18px;
  }
}

.empty-shopping-cart{
  text-align: center;
  color:#ccc;
  font-size: 25px;
  padding:30px 0;
  i{
    font-size:200px;
  }
  p{
    padding:30px 0;
  }
}
