.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.my-toast {
  width: 100px;
  min-height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #999;
  padding: 10px 0;
  box-sizing: border-box;
  color: #fff;
  border-radius: 5px;
  transition: opacity 0.5s ease;
  display: none;
  z-index: 111;
}
.my-toast .my-toast-icon-container {
  width: 100%;
  height: 30px;
}
.my-toast .my-toast-icon {
  width: 30px;
  height: 30px;
  margin: 0 35px;
}
.my-toast .my-toast-content {
  margin: 10px 0 0 0;
  width: 100%;
  font-size: 16px;
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  background: #f4f4f4;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.container {
  min-height: calc(100% - 110px);
  padding: 60px 0 0 0;
  box-sizing: border-box;
}
/*
view-image
*/
.view-image {
  width: 100%;
  height: 180px;
}
.view-image img {
  height: 180px;
  width: 100%;
}
/*head*/
.nav-bar {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ececec;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  box-sizing: border-box;
}
.nav-bar .left-part {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .logo {
  background: #06e;
  padding: 0 10px;
  border-radius: 5px;
  margin: 0 10px;
}
.nav-bar .func-item {
  padding: 0 10px;
  cursor: pointer;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
  transition: color 0.5s ease;
  position: relative;
}
.nav-bar .func-item .to-search {
  padding: 0 0 0 5px;
}
.nav-bar .func-item input {
  background: transparent;
  border: none;
  outline: none;
}
.nav-bar .func-item img {
  width: 16px;
  height: 16px;
  padding: 0 5px;
}
.nav-bar .func-item .shopping-car {
  font-size: 20px;
}
.nav-bar .logout {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  top: 25px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  display: none;
  padding: 20px 0 0 0;
  z-index: 100;
}
.nav-bar .logout li {
  margin: 1px 0;
  height: 30px;
  line-height: 30px;
  transition: color 0.3s ease, background 0.3s ease;
}
.nav-bar .logout li:hover {
  background: #00a6de;
  color: #fff;
}
.nav-bar .logout li:hover a {
  color: #fff;
}
.nav-bar .account {
  display: none;
}
.nav-bar .account img {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  padding: 0;
  margin: 0 10px;
}
.nav-bar .account-container {
  display: none;
}
.nav-bar .account-container:hover > .logout {
  display: block;
}
.nav-bar .hover-blue:hover {
  color: #00A6DE;
}
.nav-bar .hover-blue:hover > a {
  color: #00A6DE;
}
.nav-bar .right-part {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-bar .right-part .search {
  border-right: 1px solid #ddd;
}
.login {
  width: 420px;
  height: 480px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 20px #666;
  z-index: 110;
  padding: 40px 30px;
  box-sizing: border-box;
  display: none;
  opacity: 1;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
}
.login .close-login-box {
  color: #ccc;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.login .close-login-box i {
  font-size: 25px;
}
.login .title {
  text-align: center;
  font-size: 24px;
  padding: 0 0 30px 0;
}
.login p {
  padding: 0 0 15px 0;
  font-size: 18px;
}
.login .login-input {
  margin-bottom: 20px;
  border: 1px solid #ececec;
  padding: 0 0 0 20px;
  position: relative;
  height: 40px;
}
.login .login-input i {
  padding-right: 15px;
}
.login .login-input input {
  border: none;
  outline: none;
  height: 30px;
  width: 270px;
  padding-left: 10px;
  margin: 5px 0;
  font-size: 14px;
}
.login .send-code-btn {
  text-align: center;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  float: right;
  border-left: 1px solid #ececec;
  width: 80px;
  cursor: pointer;
  color: #00a6de;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login .login-input::before {
  content: '';
  position: absolute;
  left: 55px;
  width: 1px;
  height: 30px;
  background: #ececec;
  margin: 5px 0;
}
.login .submit,
.login .sign-up {
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #00a6de;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login .sign-up {
  background: #209E85;
}
.login a {
  color: #00a6de;
  font-size: 14px;
  margin: 0 10px;
}
.login .login-tab {
  width: 100%;
  height: 36px;
  line-height: 36px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #00a6de;
}
.login .login-tab span {
  width: 80px;
  float: left;
  display: block;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}
.login .login-tab span:hover {
  color: #00a6de;
}
.login .login-tab .login-tab-active,
.login .login-tab .sign-up-tab-active,
.login .login-tab .forget-password-tab-active {
  background: #00a6de;
  color: #fff;
}
.login .login-tab .login-tab-active:hover,
.login .login-tab .sign-up-tab-active:hover,
.login .login-tab .forget-password-tab-active:hover {
  color: #fff;
}
.login .login-container {
  display: none;
}
.sign-up-box {
  display: none;
}
.forget-password-box {
  display: none;
}
.show-shopping-car {
  height: 60px;
}
.shopping-quantity {
  display: block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background: #f00;
  color: #fff;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 10px;
  border-radius: 100%;
  text-align: center;
}
.shopping-car-container {
  width: 350px;
  background: #fff;
  position: fixed;
  top: 55px;
  right: 10px;
  border: 1px solid #ccc;
  z-index: 110;
  padding: 10px;
  box-sizing: border-box;
  display: none;
}
.shopping-car-container .shopping-item {
  width: 100%;
  height: 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #ececec;
}
.shopping-car-container .shopping-item .item-pic {
  padding: 0 5px 0 0;
}
.shopping-car-container .shopping-item .item-pic img {
  width: 50px;
  height: 50px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}
.shopping-car-container .shopping-item .item-base-info .item-name {
  float: left;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.shopping-car-container .shopping-item .item-base-info .item-price {
  float: left;
  width: 70px;
  color: #f00;
}
.shopping-car-container .shopping-item .item-intro-info {
  padding: 5px 0 0 0;
  width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.shopping-car-container .more-product-quantity {
  margin-top: 10px;
}
.shopping-car-container .shopping-list-no {
  height: 40px;
  line-height: 40px;
  color: #666;
  text-align: center;
  padding: 0 0 10px 0;
  font-size: 16px;
}
.shopping-car-container .to-my-shopping-car-btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #f00;
  color: #fff;
  font-size: 14px;
  text-align: center;
  float: right;
  margin: 10px 0 0 0;
}
.shopping-car-container::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ccc;
  top: -12px;
  right: 26px;
}
.shopping-car-container::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  top: -10px;
  right: 28px;
}
.show-shopping-car:hover > .shopping-car-container {
  display: block;
}
/*footer*/
.footer {
  position: absolute;
  height: 100px;
  width: 100%;
  background: #232323;
  color: #fff;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
}
.footer .left-part .feedback {
  height: 70px;
  line-height: 70px;
}
.footer .left-part .feedback span:first-child {
  color: #666;
}
.footer .left-part .copy-right {
  color: #666;
  font-size: 14px;
}
.footer .right-part {
  height: 70px;
  line-height: 70px;
}
.footer .right-part a {
  color: #fff;
}
.footer .right-part span {
  margin: 0 10px;
}
/*classify*/
.classify {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 60px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px #999;
  z-index: 99;
}
.classify .classify-container {
  width: 1000px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
}
.classify .classify-container ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.classify .classify-container ul li {
  cursor: pointer;
  position: relative;
  min-width: 150px;
  text-align: center;
}
.classify .classify-container ul li .classify-img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.classify .classify-container ul span::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scale(0);
      -ms-transform: translate(-50%, 0) scale(0);
          transform: translate(-50%, 0) scale(0);
  width: 80px;
  height: 3px;
  border-radius: 3px;
  background: #f00;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.classify .classify-container ul li:hover span {
  color: #00A6DE;
}
.classify .classify-container ul li:hover span::after {
  -webkit-transform: translate(-50%, 0) scale(1);
      -ms-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
}
.classify .classify-container ul li:hover > .sec-classify-container {
  display: block;
}
.classify .sec-classify-container {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 180px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  display: none;
  box-shadow: 0 0 10px #999;
  border: 1px solid #ececec;
}
.classify .sec-classify-container .sec-classify-item {
  border-bottom: 1px solid #ececec;
  height: 40px;
  line-height: 40px;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.classify .sec-classify-container .sec-classify-item:hover {
  color: #00A6DE;
  border-color: #00A6DE;
}
.classify .sec-classify-container .sec-classify-item:last-child {
  border: none;
}
.classify .sec-classify-container .sec-active {
  background: #00a6de;
  color: #fff;
}
.classify .sec-classify-container .sec-active:hover {
  color: #fff;
}
/*back-to-top*/
.back-to-top {
  width: 80px;
  height: 80px;
  line-height: 80px;
  position: fixed;
  bottom: 110px;
  right: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}
.back-to-top .icon-drop-down {
  font-size: 42px;
}
.icon-out-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 100%;
  opacity: 1;
  transition: background 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  transition: background 0.3s ease, opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
}
.icon-in-container {
  position: absolute;
  width: 70%;
  height: 70%;
  margin: 15%;
  background: transparent;
  border-radius: 100%;
  transition: background 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease;
  transition: transform 0.3s ease, background 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
}
.back-to-top:hover > .icon-out-container {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.back-to-top:hover > .icon-in-container {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  background: rgba(0, 0, 0, 0.3);
}
.right-side-bar {
  position: fixed;
  right: 0;
  width: 5px;
  background: #166ab5;
  height: calc(100% - 60px);
  top: 60px;
  z-index: 98;
}
.right-side-bar .r-content {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 40px;
}
.right-side-bar .r-item {
  width: 100%;
  min-height: 40px;
  background: #166ab5;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2px;
  box-sizing: border-box;
  position: relative;
}
.right-side-bar .r-item i {
  font-size: 25px;
  color: #eee;
  cursor: pointer;
  display: block;
}
.right-side-bar .r-item::after {
  content: '';
  position: absolute;
  right: 0;
  background: #166ab5;
  width: 5px;
  height: 100%;
}
.right-side-bar .info-content {
  width: 80px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 40px;
  background: #f00;
  color: #fff;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translate(200%, 0);
      -ms-transform: translate(200%, 0);
          transform: translate(200%, 0);
  z-index: -1;
}
.right-side-bar .info-content a {
  color: #fff;
  font-size: 14px;
}
.right-side-bar .r-item:hover > .info-content {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.right-side-bar .kefu i {
  font-size: 23px;
}
/*my-modal*/
.my-modal {
  position: fixed;
  min-width: 500px;
  border: 1px solid #ececec;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 400px;
  background: #fff;
  z-index: 100;
  box-sizing: border-box;
  color: #666;
  display: none;
}
.my-modal .my-modal-title {
  height: 40px;
  line-height: 40px;
  background: #ececec;
  color: #999;
  padding: 0 0 0 10px;
}
.my-modal .my-modal-title i {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
  padding: 0 10px;
  cursor: pointer;
}
.my-modal .my-modal-content {
  padding: 10px;
}
.my-modal .modal-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}
.my-modal .modal-item .item-title {
  width: 100px;
  text-align: right;
  margin-right: 10px;
}
.my-modal .modal-item .item-content {
  position: relative;
  background: #f00;
}
.my-modal .modal-item input {
  width: 280px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ececec;
  padding: 0 0 0 5px;
  outline: none;
  box-sizing: border-box;
}
.my-modal .modal-item .addr-select-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.my-modal .modal-item .addr-select-container .addr-select {
  border: 1px solid #ddd;
  padding: 0 20px 0 0;
  font-size: 14px;
  margin: 0 10px 0 0;
  position: relative;
  cursor: pointer;
}
.my-modal .modal-item .addr-select-container .addr-select input {
  text-align: center;
  cursor: pointer;
  max-width: 130px;
  border: none;
}
.my-modal .modal-item .addr-select-container .addr-select::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  border: 5px solid transparent;
  border-top: 5px solid #333;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.my-modal .modal-item .addr-select-container .addr-container {
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 100;
  text-align: center;
  max-height: 300px;
  width: calc(100% - 10px);
  overflow-y: scroll;
  padding: 0 5px;
  margin: 5px 0 0 0;
  display: none;
}
.my-modal .modal-item .addr-select-container .addr-container li {
  padding: 3px 0;
}
.my-modal .modal-item .addr-select-container .addr-container li:hover {
  background: #00a1de;
  color: #fff;
}
.my-checkbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.my-checkbox input {
  display: none;
}
.my-checkbox label {
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin: 0 5px;
}
.my-checkbox label::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 12px;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 5px;
  transition: border-color 0.3s ease;
}
.my-checkbox input:checked ~ label {
  border-color: #00a6de;
}
.my-checkbox input:checked ~ label::after {
  border-color: #00a6de;
}
/*nav-container*/
.nav-container {
  width: 1060px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  border-bottom: 1px solid #dcdcdc;
}
.nav-container a {
  font-size: 14px;
  color: #999;
}
.nav-container a:last-child {
  color: #666;
}
.nav-container a::after {
  content: '/';
  padding: 0 5px;
}
.nav-container a:last-child::after {
  content: '';
}
/*shopping-status*/
.shopping-status {
  background-color: #ececec;
  background: url('../../images/4.jpg') 100% 100% no-repeat;
  background-size: cover;
  height: 150px;
}
.shopping-status .shopping-status-container {
  width: 800px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
          transform: translate(0, 20px);
}
.shopping-status .shopping-status-item {
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.shopping-status .shopping-status-item i {
  font-size: 50px;
  color: #bbb;
}
.shopping-status .shopping-status-item span {
  position: absolute;
  display: block;
  width: 90px;
  height: 30px;
  bottom: -5px;
  font-size: 14px;
  color: #fff;
}
.shopping-status .shopping-status-item::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  border-top: 1.5px dashed #fff;
  top: 50%;
  left: 110px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.shopping-status .shopping-status-item:last-child::after {
  border: none;
}
.shopping-status .active {
  border-color: #00a6de;
}
.shopping-status .active i {
  color: #00a6de;
}
/*pagination*/
.pagination {
  margin: 30px auto;
}
.pagination .prev-page,
.pagination .next-page {
  width: 80px;
}
.pagination ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pagination ul li {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ddd;
  text-align: center;
  color: #00a6de;
  border-radius: 3px;
  margin: 0 2px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.pagination ul li:hover {
  border-color: rgba(0, 161, 222, 0.8);
}
.pagination ul .current-page {
  border-color: rgba(0, 161, 222, 0.8);
  background: #00a6de;
  color: #fff;
}
