.personal {
  width: 100%;
}
.personal .view-image {
  height: 120px;
}
.personal .view-image img {
  height: 120px;
}
.account-name-container {
  width: 100%;
  background: #fff;
}
.account-name-container .account-name {
  margin: 0 auto;
  text-align: center;
}
.account-name-container .account-name img {
  margin: -30px auto;
  border: 1px solid #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 200px;
  display: block;
  position: relative;
  background: #fff;
}
.account-name-container .account-name span {
  color: #666;
  font-size: 22px;
  display: inline-block;
  margin: 30px 0;
}
.account-op-container {
  width: 900px;
  margin: 20px auto 10px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.account-op-container .op-title {
  width: 150px;
}
.account-op-container .op-title li {
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  color: #999;
  cursor: pointer;
}
.account-op-container .op-title li a {
  color: #999;
}
.account-op-container .op-title li:hover {
  color: #666;
}
.account-op-container .op-title li:hover > a {
  color: #666;
}
.account-op-container .op-title .op-active > a {
  color: #333;
}
.account-op-container .op-title .op-active:hover > a {
  color: #333;
}
.account-op-container .op-content {
  background: #fff;
  width: 750px;
  border: 1px solid #ddd;
  color: #666;
  margin: 0 0 70px 0;
}
.account-op-container .op-content .op-head {
  background: #ececec;
  font-size: 14px;
  padding: 10px;
}
.account-op-container .op-content .op-info {
  padding: 5px 5px 20px 5px;
}
.account-op-container .op-content .op-info .op-item {
  margin: 10px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.account-op-container .op-content .op-info .op-item span {
  height: 30px;
  line-height: 30px;
}
.account-op-container .op-content .op-info .op-item span:first-child {
  display: block;
  width: 100px;
  text-align: right;
  padding: 0 10px 0 0;
  height: 30px;
  line-height: 30px;
  color: #999;
  font-size: 14px;
}
.account-op-container .op-content .op-info .op-item input[type=text] {
  width: 300px;
  height: 30px;
}
.account-op-container .op-content .op-info .op-item input {
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 5px;
  outline: none;
}
.account-op-container .op-content .op-info .op-item label {
  margin: 0 50px 0 0;
  cursor: pointer;
}
.account-op-container .op-content .op-info .op-item textarea {
  border: 1px solid #ddd;
  width: 300px;
  height: 50px;
  outline: none;
}
.account-op-container .op-content .op-info .op-item .addr-select-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.account-op-container .op-content .op-info .op-item .addr-select-container .addr-select {
  border: 1px solid #ddd;
  padding: 0 20px 0 0;
  font-size: 14px;
  margin: 0 20px 0 0;
  position: relative;
  cursor: pointer;
}
.account-op-container .op-content .op-info .op-item .addr-select-container .addr-select input {
  text-align: center;
  max-width: 130px;
  border: none;
}
.account-op-container .op-content .op-info .op-item .addr-select-container .addr-select::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  border: 5px solid transparent;
  border-top: 5px solid #333;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.account-op-container .op-content .op-info .op-item .addr-select-container .addr-container {
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 100;
  text-align: center;
  max-height: 300px;
  width: calc(100% - 10px);
  overflow-y: scroll;
  padding: 0 5px;
  margin: 5px 0 0 0;
  display: none;
}
.account-op-container .op-content .op-info .op-item .addr-select-container .addr-container li {
  padding: 3px 0;
}
.account-op-container .op-content .op-info .op-item .addr-select-container .addr-container li:hover {
  background: #00a1de;
  color: #fff;
}
.account-op-container .op-content .op-info .op-item a {
  color: #00a6de;
  font-size: 15px;
  text-decoration: underline;
}
.account-op-container .op-content .op-info .op-item .avatar {
  margin: 10px auto;
  border-radius: 100%;
  box-shadow: 0 0 10px #00a6de;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.account-op-container .op-content .op-info .op-item .send-code-btn {
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0 10px;
  padding: 2px 5px;
  height: 24px;
  line-height: 24px;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.submit-btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #00a6de;
  color: #fff;
  position: absolute;
  margin: 20px 0 0 0;
  border-radius: 3px;
  cursor: pointer;
}
.content-item {
  height: 80px;
  border: 1px solid #ececec;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  transition: border-color 0.3s ease;
}
.content-item .base-info {
  color: #666;
  padding: 5px 0;
  border-bottom: 1px solid #ececec;
}
.content-item .base-info .base-info-item {
  margin: 0 10px;
}
.content-item .base-info .base-info-item:first-child {
  margin: 0 10px 0 0;
}
.content-item .base-info .fr {
  float: right;
  color: #ccc;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.content-item .base-info .fr:hover {
  color: #f00;
}
.content-item .base-info .default {
  color: #f00;
}
.content-item .base-info .operate {
  float: right;
}
.content-item .base-info .operate i {
  margin: 0 5px;
  cursor: pointer;
}
.content-item .base-info .operate .icon-delete {
  color: #f00;
}
.content-item .base-content {
  padding: 10px 0 5px 0;
  color: #666;
}
.content-item .base-content i {
  color: #999;
}
.content-item:hover {
  border-color: #999;
}
.content-item:hover > .base-content > i {
  visibility: visible;
}
