.product {
  padding-top: 70px;
  box-sizing: border-box;
}
.product-container {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #ececec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: #fff;
  visibility: hidden;
}
.product-container .product-box {
  width: 600px;
  height: 600px;
  background: #ddd;
}
.product-container .product-info {
  width: 380px;
  height: 600px;
  font-size: 15px;
  color: #666;
}
.product-container .product-info .product-name {
  font-size: 20px;
  color: #777;
  padding: 0 0 10px 0;
}
.product-container .product-info .price {
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-container .product-info .price span:last-child {
  font-size: 24px;
  padding: 0 10px;
  color: #333;
  font-weight: bold;
}
.product-container .product-info .props-item .props-name {
  padding: 5px 5px 5px 0;
  color: #666;
}
.product-container .product-info .props-item .props-name .sec-props {
  float: right;
  display: inline-block;
  padding: 1px 3px;
  font-size: 14px;
}
.product-container .product-info .props-item .props-value {
  padding: 0 0 10px 0;
}
.product-container .product-info .props-item .props-value .span-box {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 5px 5px 0 0;
  padding: 5px 10px;
  font-size: 14px;
}
.product-container .product-info .props-item .props-select {
  background: #fff;
  width: 300px;
  height: 32px;
  line-height: 32px;
  padding: 0 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  position: relative;
  margin: 0 0 15px 0;
}
.product-container .product-info .props-item .props-select input {
  width: 240px;
  height: 28px;
  border: none;
  box-sizing: border-box;
  padding: 0 5px;
  outline: none;
}
.product-container .product-info .props-item .props-select .select-box {
  overflow: hidden;
  height: 0;
  position: absolute;
  background: #fff;
  box-shadow: 0 0 10px #999;
  width: 100%;
  z-index: 11;
  margin: 2px 0;
  left: 0;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 3px;
  transition: height 0.2s ease;
}
.product-container .product-info .props-item .props-select .select-box li {
  padding: 0 0 0 30px;
  height: 32px;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
}
.product-container .product-info .props-item .props-select .select-box li i {
  float: right;
  color: #00a1de;
  font-size: 16px;
}
.product-container .product-info .props-item:first-child {
  margin: 5px 0 0 0;
}
.product-container .product-info .props-item:first-child .props-name {
  padding: 5px 5px 0 0;
}
.upload-file {
  width: 310px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #00afab;
  color: #fff;
  margin: 20px 0 0 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.upload-file:before {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.3);
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: left 0.5s linear;
}
.upload-file:hover:before {
  left: 100%;
}
.buy-product {
  width: 100%;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 ;
}
.buy-product .quantity {
  position: relative;
  margin-right: 10px;
  border: 1px solid #ececec;
}
.buy-product input {
  width: 90px;
  height: 38px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
}
.buy-product .change-quantity {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  display: block;
  width: 20px;
  height: 20px;
  background: #ececec;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.buy-product .reduce {
  margin-top: 20px;
}
.buy-product .reduce::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 1px;
  background: #ccc;
}
.buy-product .add-to-car {
  width: 210px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f00;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.product-detail {
  width: 1000px;
  margin: 10px auto;
  border: 1px solid #ececec;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: #fff;
  visibility: hidden;
}
.product-detail img {
  width: 100%;
}
.operation-bar {
  background: #ddd;
  height: 30px;
  width: 100%;
  text-align: center;
}
.operation-bar i {
  font-size: 25px;
  color: #999;
}
