.to-pay-content {
  width: 1060px;
  margin: 10px auto 1px auto;
  background: #fff;
  padding: 0 0 10px 0;
}
.to-pay-title {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #999;
}
.base-info {
  width: 1060px;
  margin: 10px auto 0 auto;
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}
.base-info p {
  padding: 3px 80px;
}
.base-info p span:first-child {
  padding: 0 10px 0 0;
}
.base-info p:first-child {
  padding: 5px 0;
  color: #00a6de;
}
.base-info .product-info {
  position: relative;
  width: 800px;
  margin: -26px 0 0 154px;
  padding: 0;
  box-sizing: border-box;
}
.base-info .product-info p {
  padding: 3px 0;
  color: #666;
}
.base-info .product-info p span {
  padding: 0 3px 0 0;
}
.to-pay-method {
  width: 1060px;
  margin: 0 auto;
  min-height: 200px;
  background: #fff;
  padding: 10px 80px;
  box-sizing: border-box;
  font-size: 14px;
}
.to-pay-method p {
  margin: 20px 0;
}
.to-pay-method p span:first-child {
  display: inline-block;
  margin-right: 30px;
}
.to-pay-method .money {
  font-size: 20px;
  color: #f00;
  font-weight: bold;
}
.to-pay-method .pay-way {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 15px;
  border: 1px solid #ddd;
  width: 140px;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 12px;
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.to-pay-method .pay-way i {
  font-size: 26px;
  margin: 0 10px 0 0;
  font-weight: normal;
  box-sizing: border-box;
}
.to-pay-method .pay-way .icon-wechatpay {
  color: #24df15;
}
.to-pay-method .pay-way .icon-alipay {
  color: #1296db;
}
.to-pay-method .pay-way-active {
  border-color: #00a6de;
  color: #00a6de;
}
.to-pay-btn {
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f00;
  color: #fff;
  margin-left: 90px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}
.show-pay-box {
  position: fixed;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  z-index: 100;
  box-shadow: 0 0 10px #999;
  border-radius: 3px;
  display: none;
}
.show-pay-box .box-title {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  color: #666;
}
.show-pay-box .box-title i {
  float: right;
  cursor: pointer;
}
.show-pay-box .box-content {
  padding: 30px 0;
  text-align: center;
}
.show-pay-box .box-content p {
  padding: 10px 0;
  color: #666;
  font-size: 18px;
}
.show-pay-box .box-content img {
  width: 180px;
  height: 180px;
  margin: 20px 0;
}
.show-pay-box .box-content .pay-done {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #00a6de;
  margin: 30px auto;
}
